// Fonts
@import "fonts";

// Variables
@import "_variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// DataTables
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";

// Common Css
.w-0 {
    width: 0 !important;
    font-size: 0 !important;
}
.transition-x {
    transition: all 0.3s linear;
}
// .rotate-90 {
//     transform: rotate(90deg);
// }
.pointer {
    cursor: pointer;
}
// .w-30 {
//     width: 30%;
// }
.mw-60 {
    max-width: 60%;
}
.mh-0 {
    max-height: none !important;
}
.divide-y-1 {
    > * {
        > * {
            margin-bottom: 2rem;
        }
    }
}
// .divide-y-2 {
//     > * > :not(:last-child) {
//         margin-bottom: 2rem;
//     }
// }
// .divide-y-3 {
//     > * > :not(:last-child) {
//         margin-bottom: 2.5rem;
//     }
// }
// .divide-y-4 {
//     > * > :not(:last-child) {
//         margin-bottom: 4rem;
//     }
// }
// Global anchor Link Start
a {
    transition: all 0.3s linear;
}
// Global anchor Link End
// Global back button start
.back-link-padding {
    padding: 0.75rem 1rem;
}
// Global back button end
// Global Container Start
.container {
    max-width: $container-max-size !important;
}
// Global Container End
// Global Form Group Start
.form-group {
    margin-bottom: $input-margin;
}
// Global Form Group End
// Global Input & Select Field Start
.form-control,
.form-select {
    box-shadow: $input-box-shadow;
    &:focus {
        box-shadow: $input-box-shadow;
    }
}
// Global Input & Select Field End
.btn {
    box-shadow: $btn-box-shadow;
    outline: none !important;
    &:focus {
        box-shadow: none !important;
    }
    &.btn-primary {
        color: $primary-white;
        background: $primary-gradient;
        &:hover {
            color: $btn-link-hover-color;
            background: $secondary-gradient;
        }
    }
    &.btn-secondary {
        color: $primary-white;
        background: $secondary-gradient;
        &:hover {
            color: $btn-link-hover-color;
            background: $primary-gradient;
        }
    }
}
.mh-43 {
    min-height: 43rem;
}
.login-sec {
    background-image: linear-gradient(
            45deg,
            rgb(49 63 78 / 84%),
            rgb(49 63 78 / 84%)
        ),
        url(/resources/images/login-banner.png);
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    .login-card-title-col {
        background-image: url(/resources/images/login-card-left-bnr.png);
    }
}

//  Global Scrollbar
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: .375rem;
  height: .375rem;
  border-radius: $global_corner_xl;
  background-clip: padding-box;
//   border: 6px solid transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #6E6E6E;
    &:hover {
      border-width: 10px;
    }
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2.375rem #979797;
    border-radius: $global_corner_xl;
    opacity: 0;
    visibility: hidden;
    transition: all 1s linear;
    &:hover {
        opacity: 1;
        visibility: visible;
    }
}

// Sidebar
.sidebar {
    // background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1022;
    background: $dark;
    overflow: auto;
    transition: all 0.3s linear;
    width: $sidebar-width;
    padding-right: 0.25rem;
    // box-shadow: $global-box-shadow_5;
    @media (max-width: 767px) {
        width: 0%;
    }
    // *::-webkit-scrollbar-thumb {
    // background-color: #6E6E6E;
    // }
    // *::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 0.375rem $secondary;
    //     border-radius: $global_corner_xl;
    // }
    // Hamburg-button
    .sidebar-inner {
        position: relative;
        height: 100%;
        .logo-part {
            max-width: 100%;
            margin: auto;
            transition: all 0.3s linear;
            padding: $sidebar-inner-padding;
            .btn {
                padding: 0;
                .hamburg-icon {
                    width: 2.5rem;
                    height: 1.875rem;
                    transform: rotate(0deg) translate(-0.825rem, -2.25rem);
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    span {
                        display: block;
                        position: absolute;
                        height: 0.188rem;
                        width: 100%;
                        background: $primary;
                        border-radius: 6.25rem;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: 0.25s ease-in-out;
                        &:nth-child(1) {
                            top: 1.125rem;
                            width: 0%;
                            left: 50%;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(4) {
                            top: 0.75rem;
                            width: 0%;
                            left: 50%;
                        }
                    }
                }
            }
        }
        .sidebar-auth-profile {
            .auth-img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                margin-bottom: 1rem;
                filter: drop-shadow(0rem 0.305rem 0.305rem rgba(0, 0, 0, 0.25));
            }
            .auth-mail {
                font-weight: 500;
                color: $profile-text-color;
            }
        }
        .sidebar-menus {
            padding: $sidebar-menu-padding;
            max-height: $sidebar-max-height;
            overflow: auto;
            transition: all 0.3s linear;
            .sidebar-menus-list-item {
                gap: 1.125rem;
                position: relative;
                padding-bottom: 0.625rem;
                margin-bottom: 0.625rem;
                border-bottom: 1px solid $primary-white;
                .sidebar-menus-list-item-img {
                    width: 1.75rem;
                    height: 1.75rem;
                    object-fit: cover;
                }
                &.active {
                    border-color: $primary;
                    .menu-with-icon {
                        .sidebar-menus-list-item-link {
                            color: $primary;
                        }
                    }
                }
                .menu-with-icon {
                    width: 100%;
                    .sidebar-menus-list-item-link {
                        // font-size: 1.25rem;
                        // line-height: 1.625rem;
                        color: $primary-white;
                        &.active,
                        &:hover {
                            color: $primary;
                        }
                        &.dropdown-toggle {
                            &:after {
                                position: absolute;
                                top: 0;
                                margin: auto;
                                right: 0px;
                                transform: translate(0%, 50%) rotate(90deg);
                                border: unset;
                                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxMSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMzc1IDE4LjZDMC4xMjUgMTguMzUgMCAxOC4wNTQgMCAxNy43MTJDMCAxNy4zNyAwLjEyNSAxNy4wNzQzIDAuMzc1IDE2LjgyNUw3LjcgOS41TDAuMzUgMi4xNUMwLjExNjY2NyAxLjkxNjY3IDAgMS42MjUgMCAxLjI3NUMwIDAuOTI1IDAuMTI1IDAuNjI1IDAuMzc1IDAuMzc1QzAuNjI1IDAuMTI1IDAuOTIxIDAgMS4yNjMgMEMxLjYwNSAwIDEuOTAwNjcgMC4xMjUgMi4xNSAwLjM3NUwxMC41NSA4LjhDMTAuNjUgOC45IDEwLjcyMSA5LjAwODMzIDEwLjc2MyA5LjEyNUMxMC44MDUgOS4yNDE2NyAxMC44MjU3IDkuMzY2NjcgMTAuODI1IDkuNUMxMC44MjUgOS42MzMzMyAxMC44MDQgOS43NTgzMyAxMC43NjIgOS44NzVDMTAuNzIgOS45OTE2NyAxMC42NDkzIDEwLjEgMTAuNTUgMTAuMkwyLjEyNSAxOC42MjVDMS44OTE2NyAxOC44NTgzIDEuNjA0IDE4Ljk3NSAxLjI2MiAxOC45NzVDMC45MiAxOC45NzUgMC42MjQzMzMgMTguODUgMC4zNzUgMTguNloiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==");
                                width: 10px;
                                height: 15px;
                                background-repeat: no-repeat;
                                transition: all 0.3s linear;
                            }
                        }
                        &[aria-expanded="true"] {
                            color: $primary;
                            &::after {
                                transform: translate(0%, 50%) rotate(270deg);
                                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxMSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMzc1IDE4LjZDMC4xMjUgMTguMzUgMCAxOC4wNTQgMCAxNy43MTJDMCAxNy4zNyAwLjEyNSAxNy4wNzQzIDAuMzc1IDE2LjgyNUw3LjcgOS41TDAuMzUgMi4xNUMwLjExNjY2NyAxLjkxNjY3IDAgMS42MjUgMCAxLjI3NUMwIDAuOTI1IDAuMTI1IDAuNjI1IDAuMzc1IDAuMzc1QzAuNjI1IDAuMTI1IDAuOTIxIDAgMS4yNjMgMEMxLjYwNSAwIDEuOTAwNjcgMC4xMjUgMi4xNSAwLjM3NUwxMC41NSA4LjhDMTAuNjUgOC45IDEwLjcyMSA5LjAwODMzIDEwLjc2MyA5LjEyNUMxMC44MDUgOS4yNDE2NyAxMC44MjU3IDkuMzY2NjcgMTAuODI1IDkuNUMxMC44MjUgOS42MzMzMyAxMC44MDQgOS43NTgzMyAxMC43NjIgOS44NzVDMTAuNzIgOS45OTE2NyAxMC42NDkzIDEwLjEgMTAuNTUgMTAuMkwyLjEyNSAxOC42MjVDMS44OTE2NyAxOC44NTgzIDEuNjA0IDE4Ljk3NSAxLjI2MiAxOC45NzVDMC45MiAxOC45NzUgMC42MjQzMzMgMTguODUgMC4zNzUgMTguNloiIGZpbGw9IiM5MkQwNTAiLz4KPC9zdmc+Cg==");
                            }
                        }
                    }
                    .sidebar-menus-dropdown-list-item {
                        .sidebar-menus-dropdown-list-item-link {
                            font-size: 1.125rem;
                            line-height: 1.625rem;
                            color: $primary-white;
                            &.active,
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}
.mini-sidebar {
    .sidebar {
        width: 4.25rem;
        @media (max-width: 767px) {
            width: 70%;
        }
        .logo-part {
            img {
                width: 0%;
                &.partial-logo {
                    opacity: 1;
                    width: 100% !important;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    &.partial-logo {
                        width: 0% !important;
                    }
                }
            }
        }
        .sidebar-inner {
            .sidebar-auth-profile {
                .auth-title,
                .auth-mail {
                    @media (min-width: 768px) {
                        font-size: 0;
                        margin: 0;
                    }
                }
            }
            .sidebar-menus {
                margin-left: 0;
                margin-right: 0;
                .sidebar-menus-list-item {
                    @media (min-width: 768px) {
                        text-align: center;
                        gap: 0;
                    }
                    .sidebar-menus-list-item-img {
                        @media (min-width: 768px) {
                            width: 100%;
                        }
                    }
                    .menu-with-icon {
                        @media (min-width: 768px) {
                            pointer-events: none;
                            opacity: 0;
                            overflow: hidden;
                            height: 0;
                            width: 0;
                        }
                    }
                    .sidebar-menus-list-item-img {
                        @media (min-width: 768px) {
                            .img-fluid {
                                max-width: unset;
                                height: unset;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-content {
        width: calc(100% - 4.25rem);
        .navbar {
            /** Collapse icon */
            .navbar-collapse {
                // Hamburg-button
                .btn {
                    .hamburg-icon {
                        span {
                            &:nth-child(1) {
                                top: 1.125rem;
                                width: 0%;
                                left: 50%;
                            }
                            &:nth-child(2) {
                                transform: rotate(45deg);
                            }
                            &:nth-child(3) {
                                transform: rotate(-45deg);
                            }
                            &:nth-child(4) {
                                top: 0.75rem;
                                width: 0%;
                                left: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-content {
    width: $mainContentWidth;
    min-height: 100vh;
    padding: 0;
    transition: all 0.3s linear;
    position: relative;
    top: 0;
    right: 0;
    margin-right: 0;
    margin-left: auto;
    @media (max-width: 767px) {
        width: 100%;
    }
    // .header {
    //     background: $dark;
    // }
    .navbar {
        background: $dark;
        // box-shadow: $global-box-shadow_5;
        padding: 1.563rem 1%;
        /** Collapse icon */
        .navbar-collapse {
            // Hamburg-button
            .btn {
                padding: 0;
                .hamburg-icon {
                    width: 2.5rem;
                    height: 1.875rem;
                    transform: rotate(0deg);
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    span {
                        display: block;
                        position: absolute;
                        height: 0.188rem;
                        width: 100%;
                        background: $primary;
                        border-radius: 6.25rem;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: 0.25s ease-in-out;
                        &:nth-child(1) {
                            top: 0;
                            width: 75%;
                        }
                        &:nth-child(2),
                        &:nth-child(3) {
                            top: 0.75rem;
                            width: 100%;
                        }
                        &:nth-child(4) {
                            top: 1.5rem;
                        }
                    }
                }
            }
            // Search Box
            .search-bar-main {
                border-bottom: 0.094rem solid $search-bottom;
                display: flex;
                align-items: center;
                gap: 0.938rem;
                padding-bottom: 0.324rem;
                margin-left: 4.688rem;
                .btn {
                    box-shadow: none !important;
                    border: 0 !important;
                }
                .form-control {
                    box-shadow: none;
                    border-radius: 0;
                    padding: 0;
                    margin-bottom: 0;
                    background: transparent !important;
                    border: 0;
                    color: $primary-white;
                }
                ::placeholder {
                    color: $placeholder-color;
                }
            }
            // Right Side Menu
            .navbar-nav {
                align-items: center;
                // gap: 1.25rem;
                .dropdown {
                    // Author Profile Css Start
                    .dropdown-toggle {
                        // background: $primary-white;
                        transition: all 0.3s linear;
                        // font-weight: 500;
                        // font-size: 1.125rem;
                        padding-left: 1.5rem;
                        padding-right: 2.5rem;
                        color: $primary-white;
                        &:hover {
                            color: $primary;
                        }
                        outline: none;
                        @media (max-width: 767px) {
                            padding-left: 0.5rem;
                            padding-right: 1.5rem;
                        }
                        &::after {
                            content: url('/resources/images/down-arrow.svg');
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 8%;
                            border: 0;
                            @media (max-width: 767px) {
                                top: 50%;
                            }
                        }
                        .auth-img {
                            width: 2rem;
                            height: 2rem;
                            margin-right: 1rem;
                            object-fit: cover;
                            filter: drop-shadow(
                                0rem 0.305rem 0.305rem rgba(0, 0, 0, 0.25)
                            );
                            @media (max-width: 767px) {
                                margin-right: 0;
                            }
                        }
                    }
                    .dropdown-menu {
                        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                        border-radius: 0.625rem;
                        border: 0;
                        margin: 0;
                        min-width: 11.875rem;
                        padding: 0.75rem 0;
                        top: 3.375rem;
                        .dropdown-item {
                            padding: {
                                left: 1.375rem;
                                right: 1.375rem;
                                top: 0.625rem;
                                bottom: 0.625rem;
                            }
                            display: flex;
                            align-items: center;
                            gap: 0.875rem;
                            color: $secondary;
                            background: transparent !important;
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                    &:first-child {
                        .dropdown-toggle {
                            &::after {
                                top: 60%;
                                right: 20%;
                                transform: translateY(-60%);
                                @media (max-width: 767px) {
                                    right: 10%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main-inner-content {
        padding: $mainContentPadding;
        max-height: calc(100vh - 100px);
        overflow: auto;
        @media (max-width: 1199px) {
            padding-top: 1.5rem;
        }
        @media (min-width: 1200px) and (max-width: 1440px) {
            padding-top: 1.75rem;
        }
        .page-title {
            font-size: 1.375rem;
            line-height: normal;
            letter-spacing: 0.02em;
            color: $secondary;
            margin-bottom: 0rem;
            font-weight: 500;
            @media (max-width: 1199px) {
                font-size: 1.25rem;
            }
            @media (min-width: 1200px) and (max-width: 1440px) {
                font-size: 1.125rem;
            }
        }
        .dashboard-card-main-col {
            .card {
                &:hover {
                    box-shadow: $card-box-hover-shadow;
                    transform: scale(1.025);
                }
                &.no-scale {
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
        .card {
            box-shadow: $card-box-shadow;
            min-height: 7.375rem;
            transition: all 0.2s linear;
            @media (min-width: 1200px) and (max-width: 1440px) {
                min-height: 10rem;
                justify-content: center;
            }

            .card-body {
                padding: $card-padding-cap-padding-y $card-padding-cap-padding-x;
                @media (max-width: 992px) {
                    padding: $card-padding-cap-padding-y-sm
                        $card-padding-cap-padding-x-sm;
                }
                @media (max-width: 640px) {
                    padding: $card-padding-cap-padding-y-xs
                        $card-padding-cap-padding-x-xs;
                }
                transition: all 0.3s linear;
                flex: 0;
                .auth-img {
                    width: 4.375rem;
                    height: 4.375rem;
                    object-fit: cover;
                    filter: drop-shadow(
                        0rem 0.305rem 0.305rem rgba(0, 0, 0, 0.25)
                    );
                }
                .welcome-head {
                    @media (max-width: 1199px) {
                        font-size: 0.875rem;
                    }
                    @media (min-width: 1200px) and (max-width: 1440px) {
                        font-size: 1.125rem;
                    }
                    @media (min-width: 1441px) and (max-width: 1630px) {
                        font-size: 1.25rem;
                    }
                }
                .publish_section {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 2rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
        // Common Table CSS Start
        .table {
            tr {
                vertical-align: middle;
                &:hover {
                    background: $table-hover-bg;
                }
                th,
                td {
                    font-size: small;
                    white-space: normal;
                    background: transparent;
                    @media (max-width: 1760px) {
                        padding: $table-td-padding-sm;
                        input {
                            max-width: $input-max-width-lg;
                        }
                    }
                    @media (max-width: 1540px) {
                        padding: $table-td-padding-sm;
                        input {
                            max-width: $input-max-width-md;
                        }
                    }
                    @media (max-width: 992px) {
                        padding: $table-td-padding-sm;
                        input {
                            max-width: $input-max-width-sm;
                            padding: $input-padding-y-sm $input-padding-x-sm;
                            border-radius: $input-border-radius-sm;
                        }
                    }
                    @media (max-width: 640px) {
                        padding: $table-td-padding-xs;
                        font-size: small;
                        input {
                            max-width: $input-max-width-xs;
                            padding: $input-padding-y-xs $input-padding-x-xs;
                            border-radius: $input-border-radius-xs;
                        }
                    }
                }
                th {
                    background-color: $table-th-bg;
                    vertical-align: top;
                }
                th[aria-label="Description: activate to sort column ascending"] {
                    min-width: 18.75rem;
                }
            }
        }
        // Common Table CSS End
        // Data Table CSS Start
        .dataTables_wrapper {
            .dt-buttons {
                display: block;
                text-align: end;
                button {
                    padding: 0.875rem;
                    border-radius: 0.25rem;
                }
            }
            .dataTables_info {
                font-size: 0.875rem;
                font-weight: 600;
            }
            .dataTables_length {
                label {
                    @include font-base;
                    text-transform: capitalize;
                    white-space: nowrap;
                    display: flex;
                    max-width: 11.25rem;
                    gap: 1.063rem;
                    align-items: center;
                    select {
                        background: $primary-gradient;
                        color: $primary-white;
                        width: 10.313rem;
                        padding: 0.513rem 1.125rem;
                        border-radius: 0.125rem;
                        text-align: center;
                        cursor: pointer;
                        appearance: none;
                        option {
                            // color: $primary-white;
                            border-radius: unset;
                        }
                    }
                }
            }
            .dataTables_filter {
                text-align: end;
                label {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    padding-bottom: 0.324rem;
                    max-width: 45%;
                    margin-left: auto;
                    border-bottom: 0.094rem solid $search-bottom;
                    font-size: 0;
                    &::before {
                        content: "";
                        background: url("/resources/images/search.svg");
                        width: 21px;
                        height: 22px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .form-control {
                        box-shadow: none;
                        margin-bottom: 0;
                        width: 100%;
                        margin-left: 0;
                        border: 0;
                        padding: 0;
                        min-height: auto;
                        &:focus,
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
            .admin-user-table,
            .role-table,
            .permission-table,
            .country-table,
            .category-table,
            .sub-category-table,
            .listing-table {
                margin-top: 2rem;
                max-width: 100%;
                overflow: auto;
                width: 100% !important;
                @media (max-width: 1440px) {
                    display: block;
                }
                @media (min-width: 1590px) {
                    min-width: 70vw;
                }
            }
            .row {
                &:nth-child(3) {
                    > div {
                        display: block;
                        max-width: 100%;
                        overflow: auto;
                    }
                }
            }
            .dataTable {
                // max-height: 50vh;
                // max-width: 100% !important;
                // overflow: auto;
                // display: block;
                width: 100% !important;
                tbody > tr {
                    &.selected {
                        > * {
                            box-shadow: unset;
                            background: $primary;
                        }
                        a {
                            color: $primary-white;
                        }
                    }
                }
            }
            .data-tbl-img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 3.125rem;
                object-fit: cover;
                object-position: top center;
            }
        }
        // Data Table CSS End

        .form-select option {
            color: $dark;
        }
        .form-switch {
            min-height: auto;
            margin: 0 auto;
            padding: 0;
            height: 1rem;
            &.form-check {
                .form-check-input {
                    margin: 0 !important;
                    float: none;
                }
            }
        }
        // Pagination CSS Start
        .pagination {
            justify-content: end;
            align-items: center;
            gap: 0.25rem;
            flex-wrap: nowrap;
            margin-bottom: 0;
            .page-item {
                .page-link {
                    border: $bs-pagination-border-width;
                    font-size: $bs-pagination-font-size;
                    padding: $bs-pagination-padding-y $bs-pagination-padding-x;
                    border-radius: $bs-pagination-border-radius;
                    font-weight: $bs-pagination-font-weight;
                    color: $bs-pagination-color;
                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
                &.active {
                    .page-link {
                        background: $bs-pagination-active-bg;
                        color: $bs-pagination-active-color;
                    }
                }
                &.next,
                &.previous {
                    .page-link {
                        background: $bs-pagination-bg;
                        color: $primary-white;
                        box-shadow: $bs-pagination-box-shadow;
                        padding: 1.025rem;
                        font-size: 0;
                        // border-radius: 50%;
                        &:hover {
                            background: $bs-pagination-hover-bg;
                        }
                        &:after {
                            content: "";
                            width: 12px;
                            height: 16px;
                            position: absolute;
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3c!--! Font Awesome Pro 6.4.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3e%3cpath d='M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z' fill='%23ffffff' /%3e%3c/svg%3e");
                            background-repeat: no-repeat;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            left: 0;
                            right: 0;
                        }
                    }
                }
                &.previous {
                    .page-link {
                        &:after {
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3c!--! Font Awesome Pro 6.4.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3e%3cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z' fill='%23ffffff' /%3e%3c/svg%3e");
                        }
                    }
                }
                &.disabled {
                    .page-link {
                        color: $bs-pagination-disabled-color;
                        opacity: 0.75;
                    }
                }
            }
        }
        // Pagination CSS End
        // Settings Css Start
        .auth-setting-main {
            margin-top: -3.75rem;
            margin-left: -0.938rem;
            margin-right: -0.938rem;
            display: inline flow-root list-item;
        }
        .auth-setting-profile-main {
            .sidebar-auth-profile {
                .auth-img {
                    width: 10rem;
                    filter: drop-shadow(
                        0px 11.3022px 11.3022px rgba(0, 0, 0, 0.25)
                    );
                    transform: translateY(-1.5rem);
                }
            }
        }
        // Settings Css End
    }
    // Footer Box CSS Start
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 0.063rem solid $global-border-color;
        background: $primary-white;
        .ftr-copyright {
            margin: 1.875rem auto 1.25rem;
            text-align: center;
        }
    }
    // Footer Box CSS End
    // Select Box CSS Start
    .select2-selection.select2-selection--multiple {
        @extend .form-control;
        border: 0 !important;
    }
    // Select Box CSS End
}
